.form {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__textarea {
    height: 100%;
    min-height: max-content;
    resize: none;
    overflow: none;
    background-color: transparent;
    border: none;
    font-size: inherit;
    width: 100%;

    &:focus-visible {
      outline: none;
    }
  }

  &__button {
    align-self: flex-start;
  }
}
