// === Fonts ===
$main-font: 'Alegreya Sans', sans-serif;
$additional-font: 'Alegreya SC', serif;
$base-font-size: 16px;

$font-h1: (
  size: clamp(2.25rem, calc(1.33333333rem + 4.07407407vw), 5rem),
  line-height: 1.2,
  weight: 700,
);

$font-h2: (
  size: clamp(1.5rem, calc(1rem + 2.22222222vw), 3rem),
  line-height: 1.2,
  weight: 500,
);

$font-h3: (
  size: 3rem,
  line-height: 1.2,
  weight: 600,
);

$form-title: (
  size: 2rem,
  line-height: 1.2,
  weight: 600,
);

$font-card-title: (
  size: 2rem,
  line-height: 1.2,
  weight: 500,
);

$font-body-large: (
  size: clamp(1.25rem, calc(0.16666667rem + 2.03703704vw), 2rem),
  line-height: 1.5,
  weight: 400,
);

$font-body-medium: (
  size: clamp(1rem, calc(0.66666667rem + 1.48148148vw), 2rem),
  line-height: 1.5,
  weight: 400,
);

$font-body-regular: (
  size: 1.625rem,
  line-height: 1.5,
  weight: 400,
);

$font-nav-link: (
  size: clamp(1rem, calc(0.875rem + 0.55555556vw), 1.375rem),
  line-height: 1.5,
  weight: 400,
);

// === Palette ===
$neutral-100: #f2f2f2;
$neutral-200: #e6e8ff;
$neutral-500: #c0c0c0;
$neutral-900: #212121;
$green-500: #0c523a;
$yellow-500: #f2b424;
$yellow-200: #f2d285;

// === Colors ===
$color-field-disabled: #e2e2e2;
$color-text-disabled: #666;
$error-color: #c20909;
$loader-color: $green-500;

// --- Текст ---
$color-text-primary: $neutral-900;
$color-text-secondary: $green-500;
$color-text-accent: $neutral-200;
$color-text-accent-2: $neutral-100;

// --- Фон ---
$color-bg-secondary: $neutral-100;
$color-bg-secondary-2: $neutral-900;
$color-bg-secondary-3: $neutral-500;
$color-bg-accent: $neutral-200;
$color-bg-yellow: $yellow-500;
$color-bg-green: $green-500;

// --- Акценты ---
$color-accent-primary: $green-500;
$color-accent-secondary: $yellow-500;
$color-accent-secondary-light: $yellow-200;

$test-entrance-bg: #3fbe4e;
$test-medium-bg: #bfbb40;
$test-hard-bg: #bf4040;
$test-expert-bg: #9740bf;
$test-none-bg: $neutral-100;

// --- Границы ---
$color-border-dark: $neutral-900;
$color-border-green: $green-500;

// Отступы
$page-padding: 0 clamp(20px, calc(-2.22916667rem + 12.68518519vw), 147px);
// === SVG ===
// --- Colors ---
$icon-step-color: $neutral-200;

// === Shadow ===
$shadow-primary-1: 0 0 10px rgba(0 0 0 / 0.4);
$shadow-primary-accent-1: 0 0 10px rgba(0 0 0 / 0.5);
$test-entrance-shadow: -1px 2px 10px rgba(63 190 78 / 0.4);
$test-medium-shadow: -1px 2px 10px rgba(191 187 64 / 0.4);
$test-hard-shadow: -1px 2px 10px rgba(191 64 64 / 0.4);
$test-expert-shadow: -1px 2px 10px rgba(151 64 191 / 0.4);
$test-none-shadow: -1px 2px 10px rgba(0 0 0 / 0.4);
$green-btn-shadow: 0 2px 16px rgba($green-500, 0.3);
$block-form-shadow: -1px 2px 10px rgba(0 0 0 / 0.3);

// overlay
$overlay-color: rgba(33 33 33 / 0.7);

// Effects
$card-hover-transition: transform 0.3s ease;
$card-hover-translateY: translateY(-4px);
$transition-duration-extra-small: 0.1s;
$transition-duration-small: 0.15s;
$transition-duration-medium: 0.2s;
