@use './variables' as *;

.base {
  &__link {
    text-decoration: none;
    color: $color-text-secondary;
    :hover,
    :focus {
      color: rgba($color-text-secondary, 0.9);
    }
  }
}

.test {
  &__entrance {
    &_bg {
      background-color: $test-entrance-bg;
    }
    &_box-shadow {
      box-shadow: $test-entrance-shadow;
    }
  }

  &__medium {
    &_bg {
      background-color: $test-medium-bg;
    }
    &_box-shadow {
      box-shadow: $test-medium-shadow;
    }
  }

  &__hard {
    &_bg {
      background-color: $test-hard-bg;
    }
    &_box-shadow {
      box-shadow: $test-hard-shadow;
    }
  }

  &__expert {
    &_bg {
      background-color: $test-expert-bg;
    }
    &_box-shadow {
      box-shadow: $test-expert-shadow;
    }
  }

  &__none {
    &_bg {
      background-color: $test-none-bg;
    }
    &_box-shadow {
      box-shadow: $test-none-shadow;
    }
  }
}

.text-overflow_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
