@use './variables' as *;

body {
  font-family: $main-font;
  font-size: 18px;
  height: 100%;
  min-height: 100vh;
  color: $color-text-primary;
  background-color: $color-bg-accent;
}

#root {
  height: 100%;
}
