@use '@styles/variables' as *;

.button {
  width: 300px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
  cursor: pointer;
  background-color: $color-accent-primary;
  border: none;
  border-radius: 10px;
}

.title {
  font-size: 40px;
  color: $color-text-accent;
  font-weight: 500;
  text-wrap: noWrap;
}

.arrow {
  padding-top: 9px;
}
