@use '@styles/variables' as *;
@use '@styles/mixins' as *;

$block-max-width: 800px;

.page__wrapper {
  height: 100%;
  color: $color-text-primary;
}

.main {
  display: flex;
  align-items: center;
  padding: $page-padding;
  height: calc(100vh - 80px);
  background-color: $color-bg-accent;

  &__content {
    max-width: $block-max-width;
  }

  &__title {
    font-family: $main-font;
    @include typography($font-h1);
    color: $color-text-primary;
    margin-bottom: 30px;
  }

  &__information {
    display: flex;
    align-items: center;
    gap: 74px;
  }

  &__description {
    font-family: $additional-font;
    font-size: 30px;
    line-height: 41px;
    color: $color-text-primary;
  }
}

.way {
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding: $page-padding;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: $color-bg-yellow;

  &__title {
    @include typography($font-h2);
    text-align: center;
  }

  &__step {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: $block-max-width;
    gap: 0 50px;
  }

  &__step_reverse {
    align-self: flex-end;
    flex-direction: row-reverse;
    gap: 0 50px;
  }
}

.step {
  &__description {
    @include typography($font-body-large);
  }

  &__description_reverse {
    text-align: end;
  }

  &__icon {
    padding: clamp(18px, calc(0.33333333rem + 1.85185185vw), 32px);
  }
}

.arrow {
  position: absolute;
  z-index: 10;

  &__step_one-two {
    top: 20px;
    right: -30%;
  }

  &__step_two-three {
    bottom: -70px;
    left: -25%;
  }

  &__step_three-four {
    top: 40px;
    right: -25%;
  }
}

.tests {
  padding: 120px 0 60px 0;
  background-color: $color-bg-yellow;

  &__information {
    display: flex;
    gap: 60px;
    align-items: center;
    padding: $page-padding;
    margin-bottom: 80px;
  }

  &__counter {
    font-weight: 700;
    text-wrap: nowrap;
    font-size: 156px;
    color: $color-text-secondary;
  }

  &__title {
    @include typography($font-h2);
  }

  &__description {
    margin-top: 60px;
    padding: $page-padding;
    @include typography($font-body-large);
  }
}

.growth {
  padding: $page-padding;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $color-bg-accent;

  &__title {
    @include typography($font-h2);
    text-align: center;
  }

  &__arrow_step_one {
    padding: 0 26px;
  }
  &__arrow_step_two {
    padding: 0 20px;
  }
  &__arrow_step_three {
    padding: 0 14px;
  }

  &__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    // gap: 20px;
    padding: 80px 0 60px 0;
  }

  &__description {
    @include typography($font-body-large);
  }

  &__description_wrapper {
    max-width: 900px;
  }
}
