@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.fill-profile {
  text-wrap: nowrap;

  &__title {
    @include typography($font-h3);
    margin: 0 0 16px 0;
  }

  &__list {
    display: flex;
    gap: 12px 10px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  }

  &__list-item {
    list-style: none;
    background-color: $color-bg-clear;
    box-shadow: $shadow-small;
    border-radius: 10px;
    overflow: hidden;
  }

  &__button {
    display: inline-block;
    padding: 4px 10px;
    text-decoration: none;
    border: none;
    font-size: 18px;
    color: currentColor;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .fill-profile {
    &__list {
      gap: 8px 6px;
    }

    &__title {
      margin: 0 0 10px 0;
    }

    &__button {
      padding: 3px 8px;
      font-size: 16px;
    }
  }
}
