@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 240px;
  min-width: 200px;
  aspect-ratio: 3 / 4;
  background-color: $color-bg-secondary;
  border: none;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  font-family: $main-font;
  transition: $card-hover-transition;
  color: $color-text-primary;

  &:hover {
    cursor: pointer;
    transform: $card-hover-translateY;
    backface-visibility: hidden;
  }

  &__img_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 11 1 0;
    min-height: 0;
    background-position: center center;
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__level {
    border-radius: 0 0 6px 0;
    width: min-content;
    color: $color-text-primary;
    text-wrap: nowrap;
    padding: 5px 10px;
    font-size: 26px;
    min-width: calc(60% - 20px);
  }

  &__description {
    flex: 5 1 0;
    min-height: 0;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  &__information {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 16px;
  }

  &__title {
    @include typography($font-card-title);
    margin: 0;
  }
}
